// general styles

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: georgia;
}

.content {
    text-align: center;
    
    .fooboard {
        margin: 0 auto;
    }
}

// status

div.status {
    padding: 20px;
}

// fooboard

div.fooboard {
    
    @sq: 48px;
    @light: #fff;
    @dark: #d6d6d6;

            box-shadow: 2px 2px 10px @dark;
       -moz-box-shadow: 2px 2px 10px @dark;
    -webkit-box-shadow: 2px 2px 10px @dark;
    
    width: @sq * 8;
    text-align: center;
    
    div.rank {
        height: @sq;
    }
    
    div.square {
        float: left;
        width: @sq;
        height: @sq;
        
        div {
            width: @sq;
            height: @sq;
        }
    }

    .light {
        background: @light;
    }
    
    .dark {
        background: @dark;
    }

    .piece {
        width: @sq;
        height: @sq;
        background-image: url('img/pieces.png');
    }
    
    .wr { background-position: 0px 0px; }
    .wq { background-position: -@sq 0px; }
    .wp { background-position: -@sq*2 0px; }
    .wn { background-position: -@sq*3 0px; }
    .wk { background-position: -@sq*4 0px; }
    .wb { background-position: -@sq*5 0px; }
    
    .br { background-position: 0px -@sq; }
    .bq { background-position: -@sq -@sq; }
    .bp { background-position: -@sq*2 -@sq; }
    .bn { background-position: -@sq*3 -@sq; }
    .bk { background-position: -@sq*4 -@sq; }
    .bb { background-position: -@sq*5 -@sq; }
}
	