// mixins

.shadow (@x: 2px, @y: 2px, @spread: 5px, @color: #aaa) {
            box-shadow: @x @y @spread @color;
       -moz-box-shadow: @x @y @spread @color;
    -webkit-box-shadow: @x @y @spread @color;
}

.hgrad (@start: #fafafa, @stop: #e0e0e0) {
    background-color: @stop;
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
}

// general styles

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    background: url(img/bg.png);
    font-family: 'Droid Sans', sans-serif;
}

a {
    text-decoration: none;
}

// header

.header {
    color: white;
    height: 40px;
    line-height: 40px;
    
    .hgrad(#c35D49, #A33D29);
    .shadow;
    
    .c {
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    
    .logo {
        float: left;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 25px;
        text-shadow: 1px 1px 3px #666;
    }
    
    .login {
        float: right;
    }
    
    .menu, .games {
        padding: 0 10px;
    }
    
    .games {
    }
    
    a { color: #eee; }
    a:hover { color: white; }
}

// panel

.panel {
    .shadow;
    
    z-index: 10;
    display: none;
    text-align: left;
    background: #A33D29;
    position: absolute;
    
    a {
        padding: 0 20px;
        display: block;
    }
    
    a:hover {
        background: black;
    }
}

// content

.content {
    text-align: center;
    
    .fooboard {
        margin: 0 auto;
    }
}

// status

div.status {
    padding: 20px;
    font-size: 18px;
}

// login

.content .login {
    padding-top: 10px;
    text-align: center;
}

// fooboard

div.fooboard {
    
    @sq: 48px;
    @dark: 180;
    @light: 255;
    @shadow: #d6d6d6;
    @square_opacity: 0.7;

    background: url(img/board-bg.jpg);

    .shadow(2px, 2px, 10px, #bbb);
    
    width: @sq * 8;
    text-align: center;
    
    div.rank {
        height: @sq;
    }
    
    div.square {
        float: left;
        width: @sq;
        height: @sq;
        
        div {
            width: @sq;
            height: @sq;
        }
    }

    .light {
        background-color: rgba(@light, @light, @light, @square_opacity);
    }
    
    .light.hl {
        background-color: rgba(@light - 50, @light, @light - 50, @square_opacity);
    }
    
    .dark {
        background-color: rgba(@dark, @dark, @dark, @square_opacity);
    }
    
    .dark.hl {
        background-color: rgba(@dark, @dark + 50, @dark, @square_opacity);
    }

    .piece {
        width: @sq;
        height: @sq;
        background-image: url('img/pieces.png');
    }
    
    .wr { background-position: 0px 0px; }
    .wq { background-position: -@sq 0px; }
    .wp { background-position: -@sq*2 0px; }
    .wn { background-position: -@sq*3 0px; }
    .wk { background-position: -@sq*4 0px; }
    .wb { background-position: -@sq*5 0px; }
    
    .br { background-position: 0px -@sq; }
    .bq { background-position: -@sq -@sq; }
    .bp { background-position: -@sq*2 -@sq; }
    .bn { background-position: -@sq*3 -@sq; }
    .bk { background-position: -@sq*4 -@sq; }
    .bb { background-position: -@sq*5 -@sq; }
}
	