// imports

@import url(http://fonts.googleapis.com/css?family=PT+Sans:700italic);


// mixins

.shadow (@x: 2px, @y: 2px, @spread: 5px, @color: #aaa) {
            box-shadow: @x @y @spread @color;
       -moz-box-shadow: @x @y @spread @color;
    -webkit-box-shadow: @x @y @spread @color;
}

.hgrad (@start: #fafafa, @stop: #e0e0e0) {
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
}

// general styles

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(img/bg.png);
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

// header

.header {
    color: #eee;
    height: 40px;
    line-height: 40px;
    
    .hgrad(#999, #666);
    .hgrad(#c35D49, #A33D29);
    .shadow;
    
    .c {
        width: 700px;
        margin: 0 auto;
    }
    
    .logo {
        width: 100px;
        font-family: 'PT Sans';
        font-weight: 700;
        font-style: italic;
        font-size: 25px;
        text-shadow: 1px 1px 3px #666;
    }
    
    .login {
        float: right;
        width: 100px;
        font-style: italic;
        
        a {
            color: #eee;
        }
        
        a:hover {
            color: white;
        }
    }
}

// content

.content {
    text-align: center;
    
    .fooboard {
        margin: 0 auto;
    }
}

// status

div.status {
    padding: 20px;
}

// login

.content .login {
    padding-top: 10px;
    text-align: center;
}

// fooboard

div.fooboard {
    
    @sq: 48px;
    @dark: 180;
    @light: 280;
    @shadow: #d6d6d6;

    background: url(img/board-bg.jpg);

    .shadow(2px, 2px, 10px, #bbb);
    
    width: @sq * 8;
    text-align: center;
    
    div.rank {
        height: @sq;
    }
    
    div.square {
        float: left;
        width: @sq;
        height: @sq;
        
        div {
            width: @sq;
            height: @sq;
        }
    }

    .light {
        background-color: rgba(@light, @light, @light, 0.5);
    }
    
    .dark {
        background-color: rgba(@dark, @dark, @dark, 0.5);
    }

    .piece {
        width: @sq;
        height: @sq;
        background-image: url('img/pieces.png');
    }
    
    .wr { background-position: 0px 0px; }
    .wq { background-position: -@sq 0px; }
    .wp { background-position: -@sq*2 0px; }
    .wn { background-position: -@sq*3 0px; }
    .wk { background-position: -@sq*4 0px; }
    .wb { background-position: -@sq*5 0px; }
    
    .br { background-position: 0px -@sq; }
    .bq { background-position: -@sq -@sq; }
    .bp { background-position: -@sq*2 -@sq; }
    .bn { background-position: -@sq*3 -@sq; }
    .bk { background-position: -@sq*4 -@sq; }
    .bb { background-position: -@sq*5 -@sq; }
}
	