<div style="width: 400px; text-align: center; height: 50px; line-height: 50px; vertical-align: middle;">
  <input class="cc" type="button" value="CPU vs. CPU" />
  <input class="hc" type="button" value="Man vs. CPU" />
  <input class="hh" type="button" value="Man vs. Man" />
</div>
<div style="width: 400px; text-align: center; height: 50px; line-height: 50px; vertical-align: middle;">
  <input class="fen" type="text" value="" style="font-family: lucida sans unicode; width: 395px; font-size: 11px; text-align: center" />
</div>
